:root {
  --pc: #753EB3;
  --sc: #FFD08C;
}

@font-face {
  font-family: 'keep_on_truckinregular';
  src: url('kot-webfont.woff2') format('woff2'),
       url('kot-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#name {
  font-family: 'keep_on_truckinregular';
  text-align: left;
  font-size: 10vmin;
  color: white;
  display: inline;
  width: 50%;

  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: var(--sc);

}

#tagline {
  float: right;
  display: inline;
  color: white;
  font-family: sans-serif;
  height: 90px;
  vertical-align: bottom;
  font-size: 20px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--pc);
}

a {
  color: #00B7FF;
}

form {
  display: inline;
}

.show-small, .show-large {
  border: 1px solid whitesmoke;
  background-color: var(--pc);
}

.comment-button {
  width: 80%;
}

.song-box {
  padding: 20px;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: var(--sc);
  margin: 5px;
}

.song-box a {
  font-size: 120%;
  color: black;
}

h1 {
  font-size: 2em; 
  text-align: center;
  margin-bottom: 24px;
}

.song-header {
  color: whitesmoke;
  letter-spacing: 120%;
}

.show-small, .show-large {
  text-align: center;
  margin-bottom: 24px;
  padding: 20px;
  background-color: var(--sc);
}

.show-small img {
  border: 1px solid white;
}

.show-small span {
  font-weight: bold;
  font-size: 18px;
}

.show-list li, .comment-list li{
  list-style: none;
  line-height: 150%;
  text-align: left;
}

.show-list, .comment-list {
  padding-inline-start: 0px;

}

.navbar {
  margin: 24px 0px 24px 0px;
}

.navbar li {
  padding-right: 4em;
}

