:root {
  --pc: #753EB3;
  --sc: #FFD08C;
}

@font-face {
  font-family: 'keep_on_truckinregular';
  src: url('kot-webfont.woff2') format('woff2'),
       url('kot-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#name {
  font-family: 'keep_on_truckinregular';
  text-align: left;
  font-size: 14.5vmin;
  color: white;
  display: inline;
  width: 50%;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: var(--sc);
}

#tagline {
  float: right;
  display: inline;
  color: white;
  font-family: 'keep_on_truckinregular';
  height: 40px;
  vertical-align: bottom;
  font-size: 3.3vmin;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--pc);
}

a {
  color: #00B7FF;
}

.show-small, .show-large {
  border: 2px solid whitesmoke;
  background-color: var(--pc);
}

.show-small a {
  color: black;
  text-decoration: underline;
  line-height: 200%;
}

.comment-button {
  width: 80%;
}

.song-box {
  padding: 20px;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  background-color: var(--sc);
  margin: 5px;
}

.song-box p {
  font-size: 4vmin;
}

.song-box a {
  font-size: 4vmin;
  color: black;
}

h1, h2 {
  font-size: 2em; 
  text-align: center;
  margin-bottom: 24px;
}

.song-header, .user-header {
  color: whitesmoke;
  letter-spacing: 120%;
}
.user-header {
  size: 80%;
}



.show-small, .show-large {
  text-align: center;
  margin-bottom: 24px;
  padding: 20px;
  background-color: var(--sc);
  border-radius: 10px;
}

.show-small img {
  border: 1px solid white;
}

.show-small span {
  font-weight: bold;
  font-size: 18px;
}

.show-list li, .comment-list li{
  list-style: none;
  line-height: 150%;
  text-align: left;
}

.show-list, .comment-list {
  padding-inline-start: 0px;

}

.navbar {
  margin: 24px 0px 24px 0px;
  background-color: var(--sc) !important;
  border-radius: 10px;
  border: 2px solid whitesmoke;
}

.navbar li a{
  
  color: black;
}

#login {
  color: black;
}

.delete-button {
  background-color:white;
}

.comment-list li {
  background-color: white;
  border-radius:10px;
  padding: 10px 10px 10px 20px;
  margin: 10px;
  line-height: 150%;
}

.comment-list li span {
  text-decoration: underline;
  font-weight: bold;
  font-size:120%;
  line-height: 200%;
}

.form-center {
  width: 50%;
  margin: 0 auto;
}