<%- include ../partial/header %>
<h1 class='song-header'>Search Song</h1>
<form action="/songs/search" method="POST">
<label>Search Field
<input type="text" name='search'>
</label>

<input type="submit" value='Search'>
<input type="hidden" name='user' value='<%=user.id%>'>
</form>

<%- include ../partial/footer %>
