<%- include ../partial/header %>
<h1 class='song-header'>Search Song</h1>
<div class="form-center">
    <form action="/songs/search" method="POST">
    <input type="text" name='search'>
    <input type="submit" value='Search'>
    <input type="hidden" name='user' value='<%=user.id%>'>
    </form>
</div>
<%- include ../partial/footer %>
