<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul><li>
      <% if (user) { %>
        <a href="/logout">Log Out</a>
        <% } else { %>
          <a href="/auth/google">Login w/ Google</a>
          <%}%>
        </ul>