<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <nav class="navbar navbar-expand-sm bg-light">

          <!-- Links -->
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
            <% if (user) { %>                
            <li class="nav-item">
              <a class="nav-link" href="/songs">List Songs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/songs/new">Add Song</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/songs/search">Search</a>
            </li>            
            <% } %>
            <li class="nav-item">
              <a class="nav-link" href="/users">Users</a>
            </li>
          </ul>
        
        </nav>
    <div class='float-right'>
      <% if (user) { %>
        <a href="/logout">Log Out</a>
        <% } else { %>
          <a href="/auth/google">Login w/ Google</a>
          <%}%>
    </div>
      