<%- include ../partial/header %>
    <h1 class="song-header">Users</h1>
<div class="container">
<% users.forEach(function(user) {  %>    
    <div class="song-box">
        <a href="/users/<%= user.id %>"><%= user.name %></a>
    </div>
    
    <%});%>
</div>    
<%- include ../partial/footer %>

